### Created relational tables for cast and crew information

In [29]:
import pandas as pd
import json
import csv
import warnings
warnings.filterwarnings('ignore')

In [30]:
df = pd.read_csv('tmdb_5000_credits.csv')

In [31]:
df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

#### Appended movie id to each cast dict for every movie, then created an indenpendet table to hold cast information for each moive

In [32]:
def add_movieid_to_cast (row):
        cast_data = json.loads(row['cast'])
        for c in cast_data:
            c['movie_id'] = row['movie_id']
        return cast_data

In [33]:
df['cast with movieid'] = df.apply(add_movieid_to_cast,axis=1)

In [34]:
df.index

RangeIndex(start=0, stop=4803, step=1)

In [35]:
cast_list = []
for x in range(0,4803):
    cast_list = cast_list + df['cast with movieid'][x]

In [36]:
len(cast_list)

106257

In [37]:
Cast = pd.DataFrame.from_dict(cast_list)

In [38]:
Cast.head()

,cast_id,character,credit_id,gender,id,movie_id,name,order
0,242,Jake Sully,5602a8a7c3a3685532001c9a,2,65731,19995,Sam Worthington,0
1,3,Neytiri,52fe48009251416c750ac9cb,1,8691,19995,Zoe Saldana,1
2,25,Dr. Grace Augustine,52fe48009251416c750aca39,1,10205,19995,Sigourney Weaver,2
3,4,Col. Quaritch,52fe48009251416c750ac9cf,2,32747,19995,Stephen Lang,3
4,5,Trudy Chacon,52fe48009251416c750ac9d3,1,17647,19995,Michelle Rodriguez,4

#### Appended movie id to each crew dict for every movie, then created an indenpendet table to hold crew information for each moive

In [39]:
def add_movieid_to_crew (row):
        crew_data = json.loads(row['crew'])
        for c in crew_data:
            c['movie_id'] = row['movie_id']
        return crew_data

In [40]:
df['crew with movieid'] = df.apply(add_movieid_to_crew,axis=1)

In [41]:
crew_list = []
for x in range(0,4803):
    crew_list = crew_list + df['crew with movieid'][x]

In [42]:
len(crew_list)

129581

In [43]:
Crew = pd.DataFrame.from_dict(crew_list)
Crew.head()

,credit_id,department,gender,id,job,movie_id,name
0,52fe48009251416c750aca23,Editing,0,1721,Editor,19995,Stephen E. Rivkin
1,539c47ecc3a36810e3001f87,Art,2,496,Production Design,19995,Rick Carter
2,54491c89c3a3680fb4001cf7,Sound,0,900,Sound Designer,19995,Christopher Boyes
3,54491cb70e0a267480001bd0,Sound,0,900,Supervising Sound Editor,19995,Christopher Boyes
4,539c4a4cc3a36810c9002101,Production,1,1262,Casting,19995,Mali Finn

In [44]:
import sqlalchemy
from sqlalchemy import create_engine
engine = create_engine("sqlite:///movieactors.sqlite")
import sqlite3

conn = sqlite3.connect('movieactors.sqlite')

In [45]:
Cast.to_sql('Cast', conn, if_exists='replace', index=False)

In [46]:
Crew.to_sql('Crew', conn, if_exists='replace', index=False)

In [48]:
df.head()

,movie_id,title,cast,crew,cast with movieid,crew with movieid
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de..."